version: '3.4'

services:
  mysql:
    container_name: faceit-mysql
    image: mysql:latest
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      CHARSET: utf8mb4
      PARSE_TIME: true
      LOC: Local
    env_file:
      - mysql.conn.env
    hostname: mysql
    ports:
      - 3306:3306
  adminer:
    container_name: faceit-adminer
    image: adminer:latest
    restart: always
    depends_on:
      - mysql
    ports:
      - 8080:8080
  faceit:
    container_name: faceit
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    environment:
      MYSQL_HOST: "mysql:3306"
      APP_PORT: 8081
    env_file:
      - mysql.conn.env
    ports:
      - 80:8081
    depends_on:
      - mysql
      - adminer
    volumes:
      - "~/go/src/faceit/logs:/go/src/faceit/logs:rw"